<md-card>
  <h2>Which version of Angular will you use next?</h2>
  <button md-raised-button color="primary" *ngIf="!authState" (click)="anonymousLogin()">Login anonymously to vote</button>
 
  <div *ngIf="vote$ | async; let voted;">
    <button md-raised-button [disabled]="voted.$value === 'v4'" (click)="submitVote('v4')">v4</button>
    <button md-raised-button [disabled]="voted.$value === 'v2'" (click)="submitVote('v2')">v2</button>
  </div>
  
  <div *ngIf="voteCount$ | async; let voteCount">
    <p>v4 = {{voteCount.v4}} / {{voteCount.total}}</p>
    <p>v2 = {{voteCount.v2}} / {{voteCount.total}}</p>
  </div>
</md-card>
